@import './virables';

.popup {
    background: $color-dark-transparent;
    display: flex;
    height: 100vh;
    position: fixed;
    width: 100vw;

    &__window {
        background: $color-bright;
        height: 300px;
        margin: auto;
        max-width: 920px;
        padding: 56px 95px;
        position: relative;
        width: 90vw;

        @media screen and (min-width: $medium-width), (orientation: landscape) {
            height: unset;
        }

        &__content {
            margin-top: 24px;
        }

        &__close {
            background: transparent;
            padding: 6px;
            position: absolute;
            right: 46px;
            top: 46px;

            &:focus {
                border: 1px solid $color-dark;
            }
        
            &:hover {
                background: transparent;
            }
        
            &:active {
                box-shadow: 0 0 10px $color-dark-transparent;
            }

            &__left,
            &__right {
                background: $color-dark-darker;
                display: block;
                height: 2px;
                position: absolute;
                left: 0;
                width: 13.5px;
            }

            &__left {
                top: 0;
                transform: rotate(45deg);
                transform-origin: 0 100%;
            }

            &__right {
                bottom: 0;
                transform: rotate(-45deg);
                transform-origin: 0 0;
            }
        }

        &__reset {
            background-color: $color-primary;
            bottom: 20px;
            color: $color-bright;
            padding: 7px 17px;
            position: absolute;
            right: 26px;

            @media screen and (min-width: $medium-width) {
                bottom: 46px;
                padding: 10px 20px;
                right: 26px;
            }
        }
    }
}
