$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;
$xlarge-width: 1200px;
$xxlarge-width: 1440px;

$medium-heigh: 430px;

$color-primary: #e4c1ae;
$color-primary-dark: #d7a488;
$color-bright: #ffffff;
$color-dark: #121212;
$color-dark-darker: #000000;
$color-dark-transparent: #12121280;

$font-light: 300;
$font-bold: 700;